.login-card-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    width: 400px;
    height: 550px;
}

.h3-heading {
    color: #556EE6;
    text-align: center;

}

.h5-login {
    color: rgba(46, 46, 47, 0.687);
    margin-top: 10%;
}
.text, button {
    padding: 2%;
}
button{
    margin-top: 5%;
    padding: 1%;
}

.to-register {

    text-align: center;
    padding: 5%;
}

footer {
    margin-top: 30px;
    padding: 10%;
    text-align: center;
    font-size: 10px;
}
.footer-register {
    margin-top: 20px;
    padding: 10%;
    text-align: center;
}


.resiter-span{
    padding: 2%;
}